<include file="Public:header" />
		<div class="wrap">
			<!--导航栏-->
			<inclide file="Public:nav" />
			<!--页面内容-->
			<div class="content">
				<div class="height_oneScreen">

					<div class="main_editRecord">
						<div class="textareaBox_editRecord">
							<textarea id="clearTxt">{$data['content']}</textarea>
						</div>
						<button class="button-red">保存记录</button>
					</div>
				</div>
			</div>
		</div>
<script>
	$(function(){
		$('.button-red').click(function(){
			
			var con = $('textarea').val();
			var id = '{$uid}';
			//alert(id);
			$.post("{:U('Offer/add')}",{'con':con,'id':id},function(res){
				//alert(res);return false;
				var data = $.parseJSON(res);
				if(data.error == 0) {
					window.location.href="{:U('Offer/record')}";
				}else{
					alert(data.msg);return;
				}
			});
		});

		$("#clearTxt").focus(function(){
			$(this).val('');
		})
	});
</script>

<include file="Public:footer" />
