<include file="Public:header" />
	<body>
		<!--导航栏-->
		<nav class="navBox">
			<!--导航栏头部-->
			<header class="navHead">
				<img class="navLogo" src="__IMG__/navLogo.png" />
			</header>
			<!--导航栏主体-->
			<section class="nav">
				<!--行业-->
				<ul class="navMain navOption navSelected">
					<a href="{:U('Index/right')}" target="right">
						<img class="navIcon" src="__IMG__/navIcon-1.png"/>
						<span>行业</span>
					</a>
				</ul>
				<!--企业-->
				<ul class="navMain navOption">
					<a href="{:U('Company/index')}" target="right">
						<img class="navIcon" src="__IMG__/navIcon-2.png"/>
						<span>企业</span>
					</a>
				</ul>
				<!--学生-->
				<ul class="navMain navOption">
					<a href="{:U('Student/index')}" target="right">
						<img class="navIcon" src="__IMG__/navIcon-3.png"/>
						<span>学生</span>
					</a>
				</ul>
				<!--判断题-->
				<ul class="navMain navOption">
					<a href="{:U('Judge/index')}" target="right">
						<img class="navIcon" src="__IMG__/navIcon-4.png"/>
						<span>判断题</span>
					</a>
				</ul>
				<!--广告位-->
				<ul class="navMain navOption">
					<a href="{:U('Advertising/index')}" target="right">
						<img class="navIcon" src="__IMG__/navIcon-1.png"/>
						<span>广告位</span>
					</a>
				</ul>
				<!--验证码-->
				<ul class="navMain navOption">
					<a href="{:U('Code/index')}" target="right">
						<img class="navIcon" src="__IMG__/navIcon-2.png"/>
						<span>验证码</span>
					</a>
				</ul>
				
				<!--机会产品-->
				<!--<ul class="navMain navProduct">
					<a>
						<img class="navIcon" src="__IMG__/navIcon-1.png"/>
						<span>机会产品</span>
						<img class="navArrowRight" src="__IMG__/navArrowRight.png"/>
					</a>
				</ul>-->
				<!--二级菜单-->
				<!--<ul class="navSubBox navProductSub">
					<a><li class="navOption">科研</li></a>
					<a><li class="navOption">国外交换</li></a>
					<a><li class="navOption">活动</li></a>
					<a><li class="navOption">竞赛</li></a>
					<a><li class="navOption">Banner管理</li></a>
					<a><li class="navOption">前台管理</li></a>
				</ul>-->
				<!--二级菜单-->
				
			</section>
		</nav>
		<include file="Public:footer" />