<include file="Public:header" />
		<div class="wrap">
			<!--导航栏-->
    <nav class="nav">
        <div class="bg_nav"></div>
        <a href="{:U('Personnel/index')}"><div class="tab2_nav">
            <img class="imgPractice_nav" src="__IMG__/icon-talent.png" />
            <span class="text_nav">人才</span>
        </div></a>
        <a href="{:U('Personnel/student')}"><div class="tab2_nav">
            <img class="imgPractice_nav" src="__IMG__/icon-appraiseChecked.png" />
            <span class="textChecked_nav">实习评价</span>
        </div></a>
        <a href="{:U('Index/index')}"><div class="tab2_nav">
            <div class="boxMy2_nav"><img class="imgMy_nav" src="{$selfimg}" /></div>
            <span class="boxMytext_nav text_nav">我的</span>
        </div></a>
    </nav>
			<!--页面内容-->
			<section class="content">
				<!--页面主要内容-->
				<div class="main">
					<!--头部-->
					<header class="header">
						<!--占位-->
						<div class="QRcodeBox_header">
						</div>
						<!--头像-->
						<div class="head_header"><img src="{$data['headimg']?$data['headimg']:$data['headimgurl']}"  /></div>
						<!--名字-->
						<span class="name_header">{$data['name']?$data['name']:$data['nickname']}</span>
						<!--简介／描述-->
						<p class="intro2_header">{$data.grade}<span> | </span>{$data.major}<span> | </span>{$data.school}</p>
					</header>
					<!--内容-->
					<section class="section">
						<!--个人信息-->
						<div class="information_appraise myInfo-block">
							<!--编辑链接-->
							<a href="{:U('Personnel/comment',array('mode'=>'show','id'=>$data['id']))}"><img class="btnEdit" src="__IMG__/btn-edit.png"></a>
							
							<volist id="l" name="list" >
							<!--描述-->
							<div class="apprBar_appraise clearfix">
								<div class="tickBox_appraise"><!--勾选图标--><img src="__IMG__/icon-tick.png" style="display:<?php if(in_array($l['id'],$pro)){  echo 'block';}else{echo 'none';} ?>"/></div>
								<div class="textBox_appraise width_apprBar_appraise">
									<p class="text_appraise">{$l.content}</p>
								</div>
							</div>
							</volist>



							<!--评价-->
                    <!-- <div class="textareaBox2_edit">
                        <textarea maxlength="140" name="appraise" placeholder="暂未评价">{$content}</textarea>
                    </div> -->
                   			<div class="comment_appraise">
								{$content}
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>
	</body>
</html>