<include file="Public:header" />
		<div class="wrap">
			<!--导航栏-->
		<include file="Public:nav"/>
			<!--页面内容-->
			<section class="content">
				<!--顶部提示栏-->
				<div class="tiptop BGtiptop"><table><tr><td>
					完善个人信息才能让企业看到你哦
				</td></tr></table></div>
				<!--页面主要内容-->
				<div class="main">
					<!--头部-->
					<header class="header">
						<!--公众号二维码链接-->
						<div class="QRcodeBox_header">
							<a href="QRcode.html"><div class="QRcode_header">
								<img src="__IMG__/icon-QRcode.png" />
								<span>独立说公号</span>
							</div></a>
						</div>
						<!--头像-->
						<div class="head_header"><img src="{$data.headimgurl}" /></div>
						<!--名字-->
						<span class="name_header">{$data.name}</span>
						<!--简介／描述-->
						<p class="intro_header">{$data.desc}</p>
						<!--tab-->
						<div class="tabBar_header">
							<div class="tab_header myInfo checkedTab_header">个人信息</div>
							<div class="tab_header myResume">我的简历</div>
						</div>
					</header>
					<!--内容-->
					<section class="section">
						<!--个人信息-->
						<div class="information myInfo-block">
							<a href="{:U('Index/home')}"><img class="btnEdit" src="__IMG__/btn-edit.png"></a>
							<img class="iconInfo" src="__IMG__/icon-info-phone.png" />
							<p class="textInfo">{$data.mobile}</p>
							<img class="iconInfo" src="__IMG__/icon-info-grade.png" />
							<p class="textInfo">{$data.grade}</p>
							<img class="iconInfo" src="__IMG__/icon-info-college.png" />
							<p class="textInfo">{$data.school}</p>
							<img class="iconInfo" src="__IMG__/icon-info-major.png" />
							<p class="textInfo">{$data.major}</p>
							<img class="iconInfo" src="__IMG__/icon-info-time.png" />
							<p class="textInfo noMargin">可实习时间 {$data.intern}-{$data.enddate}</p>
						</div>
						<!--简历部分-->
						<div class="resume myResume-block" style="display: none;">
							<!--未上传-->
							<div class="Upload_resume">
								<img src="__IMG__/icon-UploadResume.png" />
								<button class="button-red UploadResume_btn">上传我的简历</button>
							</div>
							<!--已上传-->
							<div class="Lookat_resume" style="display: none;">
								<button class="button-resume margin_23467r LookatResume_btn">刘水音简历.PDF</button>
								<button class="button-red" onclick="window.location.href='uploadInPC_stu.html'">重新上传简历</button>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>
<script>
	$(function () {
		<?php  if($data['resume']){ ?>
			$('.Lookat_resume').css('display','block');
			$('.Upload_resume').css('display','none');
			$('.tiptop').css('display','none');
		<?php }else{
		 $url = U("Offer/upload");
		 ?>
		$('.UploadResume_btn').click(function(){
			window.location.href="{$url}";
		});
		<?php } ?>
	});
</script>
<include file="Public:footer" />