<include file="Public:header" />
	<body>
		<div class="layout_wrap">
			<!--头部-->
			<header class="mod_header">
				<!--组件：标题-->
				<h2 class="cell_headerTitle attr_left">学生详情－{$data.name} <span></span></h2>
				<button class="cell_buttonSend attr_right" type="button" onclick="window.location.href='__ROOT__{$data.resume}'"> 下载简历</button>
			</header>
			<!--内容-->
			<section class="mod_section">
				<!--模块：表格-->
				<table class="mod_table">
					<!--表头-->
					<thead class="mod_thead">
						<!--注意！TWT_Act专为设置宽度而设，TWT＊后面的＊为百分比的数字，总和应是100-->
						<tr class="TWT_Act">
							<td class="TWT100" colspan="2" style="color: #0b1e7f;">实习记录</td>
						</tr>
					</thead>
					<!--表内容-->
					<tbody class="mod_tbody targettbody">
						<tr class="mod_trMargin">
						</tr>
						<volist name="records" id="data">
						<tr class="TWT_Act">
							<td class="TWT20">{$data.dates}</td>
							<td class="TWT80"><span>{$data.content}</span></td>
						</tr>
						</volist>
					</tbody>
				</table>
				<!--模块：表格-->
				<table class="mod_table">
					<!--表头-->
					<thead class="mod_thead">
						<!--注意！TWT_Act专为设置宽度而设，TWT＊后面的＊为百分比的数字，总和应是100-->
						<tr class="TWT_Act">
							<td class="TWT100" style="color: #0d5117;">导师评价</td>
						</tr>
					</thead>
					<!--表内容-->
					<tbody class="mod_tbody targettbody">
						<tr class="mod_trMargin">
						</tr>
						<tr>
							<td><input class="cell_checkbox-3" type="checkbox" checked="checked" disabled="disabled">学生在实习中表现出关心他人团结集体</td>
						</tr>
						<tr>
							<td><input class="cell_checkbox-3" type="checkbox" disabled="disabled">学生在实习中表现出在实习中表现出关心他关心他人团结集体</td>
						</tr>
						<tr>
							<td><input class="cell_checkbox-3" type="checkbox" checked="checked" disabled="disabled">学生在实习中表现出关心他人团结集体团结集体</td>
						</tr>
						<tr>
							<td><input class="cell_checkbox-3" type="checkbox" checked="checked" disabled="disabled">学生在实习中表现出关心团结集体团结集体团结集体团结集体他人团结集体</td>
						</tr>
						<tr>
							<td><span>实习中表现出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了优秀的团队合作能力实习中表现出了优秀的团队合作能力</span></td>
						</tr>
					</tbody>
				</table>
			</section>
			<!--底部-->
			<footer class="mod_footer">
				<!--元件：按钮－蓝-->
				<button class="cell_buttonBlue attr_marLef40" type="button" onclick="self.location='studentList_man.html';">返回列表</button>		
			</footer>
		</div>
		<include file="Public:footer" />