<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>实习独立说</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery1.9.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Home/js/function.js"></script>
		<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Home/js/ajaxfileupload.js"></script>
	</head>
	<body>
	    <form action="{:U('Post/postfile')}" method="post" enctype="multipart/form-data" name="forms" id="forms">
		<div class="wrap2">
			<!--标题-->
			<div class="title_send">
				独立说实习培训 | 简历上传
			</div>
			<!--内容-->
			<div class="section">
				<p class="title">附件简历</p>
				<!--已上传-->
				<div class="alreadySend" style="display:<?php if($info['resume']){echo 'block';}else{echo 'none';} ?>">
					<table>
						<thead>
							<tr>
								<td class="t1">文件名</td>
								<td class="t2">上传时间</td>
								<td class="t3">操作</td>
							</tr>
						</thead>
						<tbody class="tbody">
							<tr>
								<td class="tb1">
									<img src="__PUBLIC__/Home/img/icon-resume.png" />
									<div>
										<p class="p1">{$info['pdfname']}.PDF</p>
										<p class="p2">{$info['pdfsize']}K</p>
									</div>
								</td>
								<td class="tb2"><p>{$info['uptime']|date="Y-m-d",###}</p></td>
								<td class="tb3">
									<div>
										<!-- <button type="button" class="button-red-short">更改</button> -->
										<button type="button" class="button-white-short deleteBtn" style="margin-left:80px;">删除</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--未上传-->
				
				<div class="noSend" style="display:<?php if($info['resume']){echo 'none';}else{echo 'block';} ?>">
					<img src="__PUBLIC__/Home/img/icon-bg.png" />
					<p>您还没有上传附件简历（最大可上传8M）<br />仅限PDF件格式</p>
					<input type="file" style="display:none" id="file" name="file" multiple="multiple" onchange="upLoad('./upload/tmp/',this.id)"/>
					<button type="button" class="button-red marginCenter" onclick="javascript:$('#file').click();">上&nbsp;&nbsp;传</button>
					
                    
				</div>
				
			</div>
			<div class="popup" style="display: none;">
				<div class="bg_popup"></div>
				<!--确认删除-->
				<div class="box_popup delete" style="display: none;">
					<div class="title_popup">
						<p>温馨提示</p>
						<!--关闭-->
						<img class="close" src="__PUBLIC__/Home/img/btn-close.png" />
					</div>
					<p class="text1_popup">确认删除该简历附件吗？</p>
					<div class="buttonBox_popup">
						<button type="button" class="button-white yes" id="deleteyes">确&nbsp;&nbsp;定</button>
						<button type="button" class="button-red no">取&nbsp;&nbsp;消</button>
					</div>
				</div>
				<!--上传成功-->
				<div class="box_popup success" id="success" style="display: none;">
					<div class="title_popup">
						<p>温馨提示</p>
						<!--关闭-->
						<img class="close" src="__PUBLIC__/Home/img/btn-close.png" />
					</div>
					<p class="text2_popup">您的简历已上传成功<br />请返回手机中继续操作</p>
					<div class="buttonBox2_popup">
						<!--<button class="button-red marginCenter yes">确&nbsp;&nbsp;定</button>-->
						<button type="button" class="button-red marginCenter yes" id="showps">确&nbsp;&nbsp;定</button>
					</div>
				</div>
				<!--上传失败-->
				<div class="box_popup" id="fail" style="display: none;">
					<div class="title_popup">
						<p>温馨提示</p>
						<!--关闭-->
						<img class="close" src="__PUBLIC__/Home/img/btn-close.png" />
					</div>
					<p class="text3_popup">您的简历上传失败<br />请返回网页端页面重新上传</p>
					<div class="buttonBox2_popup">
						<button class="button-red marginCenter close">确&nbsp;&nbsp;定</button>
					</div>
				</div>
			</div>
		</div>
		</form>
	</body>
<script>
	function upLoad(path,field)
	{
		var id = 3 ;
		
		$.ajaxFileUpload
		({
			url: '{:U("Post/postfile")}', //用于文件上传的服务器端请求地址
			type: 'post',
			data: { 'path':path,'field':field,'caseId':id}, //此参数非常严谨，写错一个引号都不行
			secureuri: false, //一般设置为false
			fileElementId: field, //文件上传空间的id属性  <input type="file" id="file" name="file" />
			dataType: 'content', //返回值类型 一般设置为json
			success: function (data)  //服务器成功响应处理函数
			{
				
				if(data == '1')
				{   
				    //$('.noSend').css("display","none");
				    $('.popup').css("display","block");
					$('#success').css("display","block");
				}
				else
				{    
				     $('.popup').css("display","block");
                     $('.fail').css("display","block");

				}

			}
			// error: function (data, status, e)//服务器响应失败处理函数
			// {
			//    // alert(e);
			// }
		});//这是ajax1结束Tags
		//return false;
	}

	$("#showps").click(function(){
		window.location.href="__APP__";
	})

	$("#deleteyes").click(function(){
			 $.ajax({
					url:'{:U("Post/delete")}',
					type:'post',
					
					success: function(data) {
							//alert(data);return false;
							
							if(data != '1' ){
                                alert('删除简历失败');
							}else{
								//console.log(data);
								//alert('success');
								alert('删除简历成功');
								window.location.href="__APP__";
							}

									
					}
			})  				
	})

	
</script>
</html>