<include file="Public:header" />
		<div class="wrap">
			<!--导航栏-->
			<include file="Public:nav" />
			<!--页面内容-->
			<section class="content">
				<div class="main">
					<!--头部-->
					<header class="header">
						<!--公众号二维码链接-->
						<div class="QRcodeBox_header">
							<a href="QRcode_etp.html"><div class="QRcode_header">
								<img src="__IMG__/icon-QRcode.png" />
								<span>独立说公号</span>
							</div></a>
						</div>
						<!--头像-->
						<div class="head_header"><img src="{$data['headimg'] ? $data['headimg'] :$data['headimgurl']}" /></div>
						<!--名字-->
						<span class="name_header">{$data.name}</span>
						<!--tab-->
						<div class="tabBar_header">
							<div class="tab2_header checkedTab_header">个人信息</div>
						</div>
					</header>
					<!--内容-->
					<section class="section">
						<!--个人信息-->
						<div class="information_etp"> 
							<a href="{:U('Index/edit')}"><img class="btnEdit" src="__IMG__/btn-edit.png"></a>
							<img class="iconInfo" src="__IMG__/icon-info-phone.png" />
							<p class="textInfo">{$data.phone}</p>
							<img class="iconInfo" src="__IMG__/icon-info-firm.png" />
							<p class="textInfo">{$data.company}</p>
							<img class="iconInfo" src="__IMG__/icon-info-department.png" />
							<p class="textInfo">{$data.department}</p>
							<img class="iconInfo" src="__IMG__/icon-info-position.png" />
							<p class="textInfo">{$data.postition}</p>
						</div>
					</section>
				</div>
			</section>
		</div>
<include file="Public:footer" />